/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}
/*
 * Base structure
 */

body {
  background-color: rgb(29, 58, 58);
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.alert {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 1em;
  width: 30%;
  z-index: 1;
}

.cover-container {
  max-width: 42em;
  text-shadow: none;
}

.OUTPUT {
  text-align: start;
  line-height: normal;
}